*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f3f3f3;
  margin: 0;

  background: radial-gradient($color-nmc-blue 3px, transparent 4px), radial-gradient($color-nmc-blue 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #f3f3f3;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

ol {
  padding: 0 0 0 2rem;
}

hr {
  border-top: 1px solid $color-nmc-pink;
  border-bottom: none;
}

img {
  max-width: 100%;
}

.content {
  background: #f1f2f4;

  h1 {
    display: block;
    padding-top: 2rem;
    margin-top: 0;
  }
}
